.Button {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button:focus {
  outline: none;
}

.Delete {
  color: rgb(255, 92, 92);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(255, 92, 92);
  transition: background-color, color, box-shadow, 0.5s;
}
.Delete:hover {
  box-shadow: 0px 0px 10px rgb(240, 29, 29);
}

.Save {
  background-color: rgb(172, 255, 47);
}

.Save:hover {
  background-color: rgba(172, 255, 47, 0.7);
}

.Cancel,
.No {
  color: rgb(204, 204, 204);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(204, 204, 204);
  transition: background-color, color, box-shadow, 0.5s;
}

.Cancel:hover,
.No:hover {
  box-shadow: 0px 0px 10px rgb(158, 158, 158);
}

.Add,
.Yes,
.Edit {
  color: rgb(204, 204, 204);
  background-color: white;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(204, 204, 204);
  transition: background-color, color, box-shadow, 0.5s;
}

.Add:hover,
.Edit:hover,
.Yes:hover {
  box-shadow: 0px 0px 10px rgb(158, 158, 158);
}

.View {
  color: rgb(204, 204, 204);
  background-color: white;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(204, 204, 204);
  transition: background-color, color, box-shadow, 0.5s;
}

.View:hover {
  box-shadow: 0px 0px 10px rgb(158, 158, 158);
}
