.Button {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  border: none;
  height: 50px;
}

.Delete {
  background-color: red;
}
.Delete:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.Save {
  background-color: rgb(172, 255, 47);
}

.Save:hover {
  background-color: rgba(172, 255, 47, 0.7);
}

.Cancel,
.No {
  background-color: rgb(187, 187, 187);
}

.Cancel:hover,
.No:hover {
  background-color: rgb(187, 187, 187, 0.7);
}

.Add,
.Yes,
.Edit {
  background-color: orange;
}

.Add:hover,
.Edit:hover,
.Yes:hover {
  background-color: rgba(255, 166, 0, 0.7);
}
