.ImageInput {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.ImageInput input[type='file'] {
  display: none;
}

.ImageInput img {
  border-radius: 15px;
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
}
