.InputUrl {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  justify-content: space-between;
  z-index: 10;
}

.InputUrl input {
  padding: 0;
  border: none;
  width: 70%;
}

.Hidden {
  display: none;
  /* opacity: 0; */
}
