.InputUrl {
  display: flex;
  /* padding: 5px; */
  border-radius: 10px;
  justify-content: space-between;
  z-index: 10;
  height: 100%;
}

.Input {
  border: none;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: width 0.5s;
}

.Input:disabled {
  background-color: transparent !important;
}

.Hidden {
  display: none;
  /* opacity: 0; */
}

.SlideLeft {
  width: 70%;
  cursor: initial;
}
