.Overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  transition: opacity 0.5s;
}

.Overlay:hover {
  opacity: 1;
}

.Icon {
  margin: 0 15px;
  color: rgb(116, 116, 116) !important;
  width: 48px !important;
  height: 48px !important;
  transition: color 0.5s;
}

.Icon:hover {
  color: rgb(40, 40, 40) !important;
}
