.CreateWishlist {
  font-size: 26px;
}

.CreateWishlist input {
  display: block;
  width: 250px;
  margin: auto;
  text-align: center;
}

.CreateWishlist div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
