.Toolbar {
  display: flex;
  justify-content: center;
  margin: 0 5px 0 5px;
  width: 50px;
}

.ToolbarBtn {
  font-weight: bold;
  margin: 0 5px 0 5px;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: transparent;
}

.SaveLinkButton {
  color: greenyellow;
}

.SaveLinkButton:hover {
  color: white;
  background-color: greenyellow;
}

.DeleteLinkButton {
  color: red;
}

.DeleteLinkButton:hover {
  color: white;
  background-color: red;
}

.EditLinkButton {
  color: orange;
}

.EditLinkButton:hover {
  color: white;
  background-color: orange;
}
