.LogoutButton {
  /* display: inline-block;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 100px;
  box-sizing: border-box; */
  border-radius: 10px;
  background-color: #1b6ec2;
  color: white;
  border: none;
}

.LogoutButton:hover {
  background-color: gainsboro;
}
