.LinkButton {
  border-radius: 10px;
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.LinkButton:hover {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
